.git
.github

.env
*.env

b_venv
.venv
venv

__pycache__
*.pyc

logs
*.log

postgres/data
airflow/airflow-postgres
airflow/logs

kafka

banking_dbt/.dbt
banking_dbt/target
banking_dbt/dbt_packages
banking_dbt/logs/


deploy/.env.example

INFO.txt