AIRFLOW_DB_USER=airflow
AIRFLOW_DB_NAME=airflow
AIRFLOW_DB_PASSWORD=

AIRFLOW_DB_CONN=

AIRFLOW_FERNET_KEY=
AIRFLOW_JWT_SECRET=

AIRFLOW_ADMIN_USER=
AIRFLOW_ADMIN_FIRSTNAME=
AIRFLOW_ADMIN_LASTNAME=
AIRFLOW_ADMIN_ROLE=
AIRFLOW_ADMIN_EMAIL=
AIRFLOW_ADMIN_PASSWORD=

AIRFLOW_IMAGE_TAG=df4b41c3e152a6fa687a57d8fee18549b244b68d