AIRFLOW_DB_USER=airflow
AIRFLOW_DB_NAME=airflow
AIRFLOW_DB_PASSWORD=airflow
AIRFLOW_DB_NAME=airflowdb

AIRFLOW_DB_CONN=postgresql+psycopg2://airflow:airflow@airflow-postgres:5432/airflowdb

AIRFLOW_FERNET_KEY=ylkBHqkwERoYHmlmU2wdUGsaTdlftlnskcY66IKNlgs=
AIRFLOW_JWT_SECRET=2433e28038d7a16958e7d3910a33f55e1ddff3ed89152325e0eff456bec83900

AIRFLOW_ADMIN_USER=akash
AIRFLOW_ADMIN_FIRSTNAME=akash
AIRFLOW_ADMIN_LASTNAME=verma
AIRFLOW_ADMIN_ROLE=Admin
AIRFLOW_ADMIN_EMAIL=test123@gmail.com
AIRFLOW_ADMIN_PASSWORD=airflow
AIRFLOW_IMAGE_TAG=91d56b04876c32b10180d11f59f54e4d192f0ab1